version: '3.8'

services:
  db:
    image: postgres:15
    env_file:
      - .env.prod
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env.prod
    volumes:
      - ./static/uploads:/app/static/uploads

volumes:
  postgres_data: